html {
  scroll-behavior: smooth;
}

h1 {
  color: red;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  margin-left: 1em;
}

.chosen-select {
  width: 200px;
}

.form-group {
  display: inline-block;
}

.card-body .chosen-container {
  width: 100% !important;
}

.api-output {
  display: inline-block;
  vertical-align: top;
  /* margin-left: 2em; */
  overflow-y: scroll;
  width: 35%;
  height: 25%;
}

#api-champions {
  padding-top: 5em;
}

#api-traits {
  scroll-margin-top: 5em;
}

#api-sets {
  margin-left: 0.5em;
  margin-right: 1.5em;
}

#api-imgs {
  padding-bottom: 5em;
}

#api-img-result {
  width: 150px;
  height: 150px;
}
