h1 {
  color: red;
}

.chosen-select {
  width: 200px;
}

#api-output {
  white-space: pre-line;
  height: 400px;
  overflow: scroll;
  font-family: "Consolas", sans-serif;
}

#api-trait {
  width: 15em;
}

.form-group {
  display: inline-block;
}

nav a {
  margin-left: 1em;
}

#api-sets {
  margin-left: 0.5em;
  margin-right: 1.5em;
}

.api-output {
  display: inline-block;
  vertical-align: top;
  /* margin-left: 2em; */
  overflow-y: scroll;
  width: 35%;
  height: 25%;
}

#api-img-result {
  width: 150px;
  height: 150px;
}

.card-body .chosen-container {
  width: 100% !important;
}
